body {
  background: var(--timberwolf);
  color: var(--jet);
  font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
